<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/felipe-meneses.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/angular2-logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">Felipe Meneses</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">Ingeniero en Informática</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Titulado en
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="https://www.duoc.cl/" target="_blank">
                <img src="assets/img/logo-duoc.webp" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <div class="main">
      <div class="section" id="carousel">
          <div class="container">
              <div class="tim-title">
                  <h3>Carousel</h3>
              </div>
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">
                      <div class="card page-carousel">
                          <ngb-carousel>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                  <div class="carousel-caption">
                                      <p>Somewhere else</p>
                                  </div>
                              </ng-template>
                              <ng-template ngbSlide>
                                  <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                  <div class="carousel-caption">
                                      <p>Here it is</p>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Quien soy</h2><br/>
                        <p class="description">

                        <p>🏫 Soy Felipe, Ingeniero en Informática en DuocUC</p>
                        <p>💻 Actualmente estoy trabajando como Soporte Técnico Informático en Datavoz</p>
                        <p>🎮🛠️ Estoy buscando crecer como profesional y adquirir nuevas experiencias</p>
                        <p>🧑‍💻 Me apasiona la tecnología tanto para divertirme como para solucionar problemas de la vida cotidiana.</p>
                        <p>🧑‍🎓 Siempre estoy aprendiendo cosas nuevas.</p>
                        <p>🤔 Actualmente estoy abierto a una nueva oportunidad laboral.</p>
                        <br/>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="nc-icon nc-time-alarm"></i>
                            <i class="nc-icon nc-atom"></i>
                            <i class="nc-icon nc-camera-compact"></i>
                            <i class="nc-icon nc-watch-time"></i>
                            <i class="nc-icon nc-key-25"></i>
                            <i class="nc-icon nc-diamond"></i>
                            <i class="nc-icon nc-user-run"></i>
                            <i class="nc-icon nc-layout-11"></i>
                            <i class="nc-icon nc-badge"></i>
                            <i class="nc-icon nc-bulb-63"></i>
                            <i class="nc-icon nc-favourite-28"></i>
                            <i class="nc-icon nc-zoom-split"></i>
                            <i class="nc-icon nc-cloud-download-93"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Contactame</h2>
                        <p class="description">Si te gusta lo que ves, no dudes en contactarme. Estoy aquí para ayudarte a llevar tu proyecto al siguiente nivel.</p>
                    </div>
                </div>
                
                <div class="row justify-content-md-center sharing-area text-center">

                    <div class="text-center col-md-12 col-lg-8">
                        <a href="mailto:fe.menesesm2@gmail.com" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Escribeme al Gmail!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="mailto:felipemenesesm@hotmail.com" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Escribeme al Hotmail!">
                            <i class="fa fa-envelope"></i> Outlook
                        </a>
                        <a href="https://wa.me/+56977334896" class="btn btn-whatsapp-bg btn-success sharrre btn-round" rel="tooltip" title="Escribeme al Whatsapp!">
                            <i class="fa fa-whatsapp"></i> Whatsapp
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/examples/landing-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">Landing Page</a>
                        </a>
                    </div>

                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/user-profile']">
                            <img src="./assets/img/examples/profile-page.JPG" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/user-profile']" class="btn btn-outline-neutral btn-round">Profile Page</a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
