<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Felipe Meneses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, hecho con <i class="fa fa-heart heart"></i> by Felipe Meneses
                </span>
            </div>
        </div>
    </div>
</footer>
